h1 {
    background-color: #AEFAFC;
    border: 0.1rem solid #1295FA;
    border-radius: 0.5rem;
    color: #9126E8;
    font-size: 1.7rem;
    margin: 0.5rem;
    padding: 0.3rem;
    text-align: center;
    text-decoration: underline;
}

h3 {
    #background-color: #C7C7C7;
    text-decoration: underline;
}

h5 {
    #background-color: #C7C7C7;
}

p {
    background-color: #AEFAFC;
    border: 0.1rem solid #1295FA;
    border-radius: 0.5rem;
    color: #9126E8;
}

.vert-blue {
    color:#05B6B5;
}

.gold {
    color: gold;
}

/*
.label_ {
    background-color: #C7C7C7;
    border: 0.1rem solid green;
    border-radius: 19%;
    color: #096752;
    font-size: 0.7rem;
    padding: 0.3rem;
}

#userInput, #generatedText, #final-result-content.form-control.result {
    border: 0.1rem solid gold;
    border-radius: 0.9rem;
    color:#0041F6;
    height: 37px;
    width: 91%;
}

#userInput::placeholder {
    /* Center the placeholder text horizontally *
    text-align: center;

    /* Optionally, you can style the placeholder text further *
    font-style: italic;
    color: #999; /* Placeholder text color *
}

button.mb-5.btn {
    background-color: #C7C7C7;
    border: 0.1rem solid crimson;
    border-radius: 0.9rem;
    color: #9126E8;
}

button.mb-5.btn:hover {
    color: #096752;
}

.generate-btn {
    background-color: #C7C7C7;
    border: 0.1rem solid gold;
    border-radius: 0.9rem;
    color: #096752;
    margin-top: 3rem;
}

.generate-btn:hover {
    background-color: #C7C7C7;
    color: #9126E8;
}
*/
.gif-img {
    margin-top: 1rem;
}

.left-img {
    border-radius: 1rem;
    #float: left;
    width: 100%;
}

.right-img {
    border-radius: 1rem;
    float: right;
    width: 37%;
}
/*
#error-message {
    color: crimson;
    margin: 1rem 1rem 0;
    padding: 0.5rem; /* Add padding to ensure text is visible *
    text-align: center;
    white-space: pre-line;
    min-height: 1rem; /* Add a minimum height to ensure space for text *
}

hr {
    margin: 0 3rem;
    margin-top: 1.9rem;
}
*/
#footer {
    margin: 1rem 0 3rem;;
    text-align: center;
}

.fa-inverse {
    background-color: #9126E8;
    border: 0.1rem solid #AEFAFC;
    border-radius: 55%;
    color: #fff;
}

.fa-inverse:hover {
    color: #6ABFA6;
    width: 3.7rem;
}

.fas {
    color: transparent !important;
}

.copyright {
    background-color: #AEFAFC;
    border: 0.1rem solid #1295FA;
    border-radius: 0.5rem;
    color: #9A30F3;
    padding: 0.3rem;
}

# --------------------------------------------------- 🔥👌🏿💚😇❤️🔥 ---------------------------------------------------#