{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
	{{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon5.ico') }}">
{% endblock %}

{% block content %}
<!--
    <div class="container">

        <h1 class="mb-3">DBT OpenAI Speech Generation ¡!¡</h1>

        <form id="textForm">
            <label class="label_">Write Your Text, below:</label>
            <div>
                <textarea id="userInput"></textarea>
            </div>
            <div class="container text-center">
                <button class="mb-5 btn btn-lg" type="button" onclick="generateText()">Generate Text</button>
            </div>
        </form>

        <h3 class="h3_generatedText">Generated Text:</h3>
        <textarea id="generatedText" class="mb-1"></textarea>
    </div>
-->

{{ writing_text_form.csrf_token }}

<div class="container">
    <h1 class="mb-3">DBT OpenAI Speech Generation ¡!¡</h1>
    <div class="div_start">
        <form method="post" action="{{ url_for('home') }}" id="writing-form">
            {% if error_message %}
                <div class="alert alert-info">
                    {{ error_message }}
                </div>
            {% endif %}
            <div class="mb-1 text-center">
                <div class="mb-1 alert error" id="error-message" style="display: none;"></div>
                <button id="start-button" type="button" class="btn"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.9rem; --bs-btn-font-size: 1.3rem;">
                    Click to Start Writing ¡!¡
                </button>
            </div>
            <!--<label for="userInput" class="label_">Write Your Text, below:</label>-->
            <div class="mb-1" id="textarea-container" style="display: none;">
                <textarea class="form-control" id="userInput" name="writing_text"
                          placeholder="T😎 ASK M€, WRITE  HERE¡!¡:" oninput="capitalizeSentences(this)"></textarea>
            </div>
        </form>
    </div>
</div>

<hr>

<div class="container">
    <div class="text-center">
        <button id="generateButton" class="mb-1 btn generate-text" type="button" onclick="generateText()"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.9rem; --bs-btn-font-size: 1.3rem;">
            Click for Response
        </button>
    </div>
    <div class="mb-4">
        <h3 class="h3_generatedText">Response Text:</h3>
        <textarea id="generatedText" class="mb-1 form-control result" style="display: none;">
            {{ generated_text }}
        </textarea>
    </div>
</div>

<hr>

<div class="container">
    <h3 class="mb-4 h3_result"></h3>
    <div class="container">
        <div class="mb-1 text-center">
            <button id="final_result" type="button" class="btn"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.9rem; --bs-btn-font-size: 1.3rem;">
                Click for see prompt ¡!¡
            </button>
        </div>
        <textarea class="form-control result" id="final-result-content" style="display: none;"
                  oninput="capitalizeSentences(this)">
            {{ generated_text }}
        </textarea>
    </div>
</div>

{% endblock %}

{% block footer %} {% endblock %}
